<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
</head>

<body>
    <alert type="danger" *ngIf="!isValidationOk" style="text-align: center">{{errorMessage}}</alert>
    <!--Search home page-->
    <div id="username-page" *ngIf="isSearchInputScreen">
        <div class="username-page-container">
            <h1 class="title">{{applicationName}}</h1>
            <form id="searchForm" name="searchForm">
                <div class="form-group">
                    <input [(ngModel)]="searchText" id="searchText" placeholder="Enter text to search" name="searchText"
                        class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" (click)="searchBookAndMedia($event)" class="accent username-submit">Search</button>
                </div>
            </form>
        </div>
    </div>

   
    <!--search result division-->
    <div id="search-result-page" *ngIf="isSearchResultScreen">
        <div class="search-result-container">
            <div class="search-result-header">
                    <span class="page-heading">Search Result</span>
            </div>
            <ul>
                <li *ngFor="let result of searchResultList">
                    <div id="search-result-box">
                        <div class="sender">
                            <span>{{result.title}}</span>
                        </div>
                        <div class="content">
                            <span>{{result.type}}</span>
                        </div>
                        <div class="date">
                            <span>{{result.information}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div id="search-result-control">
                <button type="button" (click)="backToSearch($event)" class="primary">Back to Search</button>
            </div>
        </div>
    </div>

    <div class="footer">
        <p style="float: right; margin-right: 5%" >Assigngnment solution - Tayab Hussain</p>
    </div>



    <router-outlet></router-outlet>
</body>

</html>